// importations 

//@use "base/_up_down" as *;

 // commande => 'npm run dev' 
 // mode normal & à lancer depuis terminal, 
 // dans le répertoire du thème

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fffef0; 
    color: #23282d; 
    font-family: 'Space Mono', monospace;     
    margin: 0 auto; 
    width: 100vw;
}