.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 100;
  background-color: #ffffff;
}

.header {
  height: 80px;
  width: 100vw;
  -webkit-box-shadow: 0px 11px 12px -7px rgba(126, 126, 126, 0.226);
  box-shadow: 0px 11px 12px -7px rgba(126, 126, 126, 0.226);
  justify-content: space-between;
}

.random-image {
  max-height: 866px;
  min-width: 100%;
}

.header li{
    margin-left: 30px;
}